<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-lg-8 col-md-8 col-sm-12 col-center">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h4 class="text-dark text-muted">Product</h4>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                name="uname"
                [(ngModel)]="uname"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Event</label
              >
              <textarea
                name="event"
                class="form-control"
                [(ngModel)]="eventname"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Amount</label
              >
              <input type="number" class="form-control" name="amount" [(ngModel)]="amount" />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">When</label>
              <mat-form-field class="form-control">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" (dateChange)="addEvent('change', $event)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <input type="button" value="ADD" (click)="addClicked()" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
