<mat-card class="mt-4">
  <mat-card-header>
    <mat-card-title
      ><h4 class="text-dark text-muted fw-bold">Home</h4></mat-card-title
    >
    <mat-card-subtitle>
      <img
        class="img col-center"
        src="/assets/images/ram.webp"
        width="550"
        height="645"
        alt="image"
      />
      <div class="container">
        <p class="mt-4">
          Long ago, in India, there lived a king called Dasharath. Ayodhya was
          the capital of his kingdom (It is a part of Uttar Pradesh present day
          India). Dasharath had three queens, Kausalya, Kaikeyi and Sumitra.
          Rama was the son of queen Kausalya, Lakshman and Shatrughna were the
          sons of Sumitra, and Bharat was the son of Kaikeyi. Everyone loved
          Rama, because of His good nature and truthful character. Rama, being
          the eldest son of the king, was the heir to the throne.
        </p>
        <p>
          When King Dasharath grew old, he decided to retire and make Rama the
          crown king of Ayodhya. As the day of coronation came near, the city
          started to prepare for the occasion and the queens were happy for the
          upcoming event. However, things did not go according to King
          Dasharath’s plan. A wicked woman, Manthara, who was Queen Kaikeyi’s
          maid, said to Queen Kaikeyi, “Why are you so happy about Rama’s
          coronation? Don’t you realize that from now on you will not be as
          respected as Kausalya and your son Bharat will be totally ignored?”
          Queen Kaikeyi said, “What nonsense you talk! I love Rama and he is the
          heir!” “Not if you change things,” said Manthara in a devilish voice.
          By now, Kaikeyi was feeling afraid that her maid might be right about
          her own son Bharat being ignored after Rama becomes king. “But how can
          I?” asked Kaikeyi hesitatingly.
        </p>
        <p>
          Manthara told Kaikeyi her plan. As per the plan, Queen Kaikeyi went to
          King Dasharath and said, “Do you recall the promise you had made to me
          when I saved your life in the battle field? You had said that you
          would fulfill two of my wishes?” “Yes, my queen,” said Dasharath, “I
          remember that and I will keep my promise. Ask for what you desire!”
          Kaikeyi coldly announced, “Crown my son Bharat as the King and banish
          Rama to the forest for fourteen years.” King Dasharath was stunned
          into silence. He or his ancestors had never broken a promise. What
          could he do now? His happiness and peace had all been stolen from him
          instantly. Reluctantly, the king whispered to his attendant, “Go and
          get Rama.” When Rama arrived, his father was far too sad to speak. It
          was Kaikeyi, who spoke, “Bharat is to be the King and you are to be
          banished for fourteen years.” “Is this what my dear father desires?”
          asked Rama. “Your father is keeping his promise to me.” Kaikeyi
          answered. “Then I must honor my father’s word. If a promise is made,
          it must be kept. Let Bharat be the king. I will leave for the exile
          immediately.”
        </p>
        <p>
          When Sita (Rama’s wife), Lakshman (Rama’s half-brother) and Bharat
          (Rama’s half-brother) came to know about this, they too, insisted on
          accompanying Rama into exile. However, Rama made sure that Bharat
          stayed behind to look after the kingdom, as per his father’s promise.
          Then Rama and Sita, along with brother Lakshmana, left Ayodhya. Rama,
          his devoted wife Sita and brother Lakshmana remained in exile in a
          forest called Dandakaranya for 14 years. During the exile, Rama became
          the savior of the Sages in the forest, and the destroyer of the demons
          and the evil king, Ravana. Moral: Dear friends, even something so
          small as losing a chance for a birthday party would make us very
          unhappy and upset. ShriRam was told not only to leave the chance to be
          king, but also to go and live for 14 years in a forest, away from
          everyone and everything He loved.
        </p>
        <p>
          However, ShriRam obeyed without any sorrow or anger. This and many
          other instances in the life story of ShriRam show His Godly qualities
          like obedience, love and courage. Though we are not perfect like
          ShriRam, we can someday become perfect like Him, by developing good
          qualities in ourselves.
        </p>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
